<!DOCTYPE html>
<html>
  <head>
    <title>test</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <table border="1" align="center">
    <% for (const result of results) { %>
      <tr>
        <td>이름</td>
        <td><%= result.ENAME %></td>
      </tr>
    <% } %>
  </table>
  </body>
</html>
