<!DOCTYPE html>
<html>
<head>
    <title>회원가입</title>

<!-- 웹폰트 -->
<link href="https://fonts.googleapis.com/css?family=Poor+Story&amp;subset=korean" rel="stylesheet">
<link rel="stylesheet" href="http://cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/nanumbarungothic.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>

<style>
    body {
    color:dimgray
    }

    body, center:hover {
        cursor: url(http://cur.cursors-4u.net/cursors/cur-9/cur817.cur), progress !important;
    }

    form {
        font-size:13px;
        font-family:'Nanum Barun Gothic';
    }
    
    th {
        width:100px;
        height:30px;
    }

    td {
        width:400px;
        height:30px;
        text-align:center;
    }

    table,th,td {
        border: solid 1px #ebebeb;
    }

    th,td {
        padding: 5px;
    }

    ::-moz-selection{
          background:lightgray;
          color:white;
    }
    ::selection{
          background:lightgray;
          color:white;
    }

    .title {
        font-size: 40px;
        color: #93aed2;
        text-align: center;
        font-family:'Nanum Barun Gothic';
    }
</style>

<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
</head>

<body>

<h1 class="title">회원가입</h1>
<form name="join" onsubmit="return validate();" method="post" action="/join">
   <table align="center" cellspacing="0" margin="100">
       <tr height="10" align="center">
           <th colspan="2" style="background:lightsteelblue; font-size:20px;"><font color="white">필수입력사항</font></th>
       </tr>
       <tr>
            <th>이름</th>
            <td><input type="text" name="name" id="name" maxlength="12"/></td>
        </tr>
       <tr>
           <th>아이디</th>
           <td><input type="text" name="id" id="id"/>
       </tr>
       <tr>
           <th>비밀번호</th>
           <td><input type="password" name="pw" id="pw" maxlength="20"/>
            <br/>20자 미만</td>
       </tr>
       <tr>
           <th>전화번호</th>
           <td><input type="text" name="phone" id="phone"/></td>
       </tr>
       <tr>
            <th>생년월일</th>
            <td><input type="date" name="birth" id="birth"/>
        </tr>
        <tr>
            <th>나이</th>
            <td><input type="text" name="age" id="age" maxlength="3"></td>
        </tr>
       <tr>
           <th>주소</th>
           <td><input type="text" name="post" id="post" style="width: 100px;"> 우편번호<br/><br/>
               <input type="text" name="add" id="add" style="width:280px"> 주소<br/>
       </tr>
       <tr>
           <th>취미</th>
           <td><input type="text" name="hobby" id="hobby"></td>
       </tr>
   </table>


<center>
    <br/>
    <input type="submit" class="button" value="회원가입" style="color:#93aed2; background-color:white; border:solid white"/>
    <a href="/"><input type="button" class="button" value="로그인" style="color:#93aed2; background-color:white; border:solid white"/></a>
</center>

</form>

<script type="text/javascript">
    const RegexName = /^[가-힣]+$/; //이름 유효성 검사
    const RegexId = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/i; //아이디 유효성 검사
    const RegexPhone = /^[0-9]{2,3}-[0-9]{3,4}-[0-9]{4}$/; //전화번호 유효성 검사
    const RegexPost = /[0-9]{5}/; //우편번호 유효성 검사

    $("form").submit(function(){

        //이름 유효성 검사
        if (!RegexName.test($.trim($("#name").val()))) {
            alert("이름을 다시 입력해주세요.");
            $("#name").focus();
            return false;
        }

        //아이디 유효성 검사
        else if (!RegexId.test($.trim($("#id").val()))) {
            alert("아이디를 다시 입력해주세요.");
            $("#id").focus();
            return false;
        }

        //비밀번호 유효성 검사
        else if ($("#pw").val() == '') {
            alert("비밀번호를 다시 입력해주세요.");
            $("#pw").focus();
            return false;
        }

        //전화번호 유효성 검사
        else if (!RegexPhone.test($.trim($("#phone").val()))) {
            alert("전화번호를 다시 입력해주세요.");
            $("#phone").focus();
            return false;
        }

        //우편번호 유효성 검사
        else if (!RegexPost.test($.trim($("#post").val()))) {
            alert("우편번호를 다시 입력해주세요.");
            $("#post").focus();
            return false;
        }

        //취미 유효성 검사
        else if ($("#hobby").val() == '') {
            alert("취미를 다시 입력해주세요.");
            $("#hobby").focus();
            return false;
        }

        //정상 입력
        else {
            alert("회원가입이 정상적으로 처리되었습니다.");
            return false;
        }
    });
</script>

</body>
</html>