<!DOCTYPE html>
<html>
  <head>
    <title>글 수정 중</title>
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/nanumbarungothic.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  </head>
  <style>
    body {
      font-family:'Nanum Barun Gothic';
    }
    .title {
      font-size: 25px;
      color: #93aed2;
      text-align: center;
      margin-top: 30px;
    }
    .smalltitle {
      font-size: 15px;
      color: #8a8a8a;
      margin-top: 15px;
    }
  </style>
  <body>
  <center>
      <form action="/board/update?NUM=<%= results.NUM %>" method="POST">
      <!-- <br>      
      <p>
        <label class="title">수정할 제목</label>
        <input type="text" name="title" class="w3-input" value="<%= results.TITLE %>"></p>
      <br>
      <p>
        <label class="title">수정할 본문</label>
        <textarea name="content" cols="30" rows="10" class="w3-input"><%= results.CONTENT %></textarea></p>
      <br>

      <input type="submit" value="수정"> <input type="reset" value="초기화"> -->

      <table>
      
      </table>
      </form>
  </center>
  </body>
</html>